.header .container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; /* título à esquerda, navegação à direita */
    align-items: center;
    background: linear-gradient(to right, #FFE4C4, #e2725b)
    
}

h1 {
    font-size: 30px;
    font-weight: bold;
    color: brown;
}

h2 {
    color: brown;
}

h3{
    color: brown;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.main-content {
  flex: 1; /* empurra o footer para baixo */
}

.navigation {
    display: flex;
    gap: 20px;
    a {
  color: brown; 
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
}
/*Sublinhado abaixo da navegação*/
a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 0;
  background-color: #FFE4C4;
  transition: width 0.3s ease;
}

a:hover {
  color: brown;
}

a:hover::after {
  width: 100%;
}

}

body{
    background-color: #ccc;
}

.footer {
  width: 100%;
  background: linear-gradient(to right, #FFE4C4, #e2725b);
  color: brown;
  padding: 20px 2rem;
  box-sizing: border-box;
  text-align: center;
  font-size: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-shrink: 0; /* impede o footer de colapsar em telas pequenas */
  overflow-x: hidden;
}

